$dfr-config: () !default;

@import 'config/border';
@import 'config/breakpoint';
@import 'config/button';
@import 'config/color';
@import 'config/container';
@import 'config/font';
@import 'config/heading';
@import 'config/spacing';
