$dfr-config: deep-map-merge(
  (
    'border': (
      'width': 2px,
      'style': solid,
      'color': $dfr--base-color-dark,
      'radius': (
        'xs': $dfr--base-borderRadius / 2,
        's': $dfr--base-borderRadius / 1.25,
        'm': $dfr--base-borderRadius,
        'l': $dfr--base-borderRadius * 1.25,
        'xl': $dfr--base-borderRadius * 2,
        'f': 9999px
      )
    )
  ),
  $dfr-config,
  true
);
