// stylelint-disable value-keyword-case
// stylelint-disable function-comma-newline-after
$dfr-config: deep-map-merge(
  (
    'font': (
      'family': (
        'sans-serif': (
          -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
        ),
        'mono': (
          Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace
        )
      ),
      'weight': normal,
      'path': '../fonts',
      'size': (
        'xs': $dfr--base-fontSize / 1.5,
        's':  $dfr--base-fontSize / 1.25,
        'l':  $dfr--base-fontSize * 1.25,
        'xl': $dfr--base-fontSize * 1.5
      )
    )
  ),
  $dfr-config,
  true
);
// stylelint-enable value-keyword-case
// stylelint-enable function-comma-newline-after
