$dfr-breakpoint-small:                  544px !default;
$dfr-breakpoint-medium:                 768px !default;
$dfr-breakpoint-large:                  992px !default;
$dfr-breakpoint-extraLarge:             1200px !default;
