$dfr-container-small:                   510px !default;
$dfr-container-medium:                  720px !default;
$dfr-container-large:                   940px !default;
$dfr-container-extraLarge:              1140px !default;
